* {
    border: 0;
    margin: 0;
    padding: 0;
}
/*=======================文章发布页面工具栏========================*/


#article_title {
    width: 24%;
    height: 32px;
    /*display: block;*/
}

button {
    margin: 0 3px;
    padding: 2px 4px;
    outline: none;
}


#article_label {
    width: 24%;
    height: 32px;
}

#category_selection {
    width: auto;
    height: 32px;
    display: inline-block;

}

#select_image, #upload_image, #article_saved, #article_publish {
    width: auto;
    height: 32px;
    font-weight: bolder;
    display: inline-block;
    cursor: pointer;

    /*background: darkgreen;*/
}

select {
    width: auto;
    padding: 0 2%;
    margin: 0;
}

option{
    text-align:center;
}

body {
    overflow-x: hidden;
}
/*=======================文章编辑器========================*/



/*=========================form表单======================*/
#article_data_form {
    width: 72%;
    height: auto;
    /*background: #0F192A;*/
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#title_image_form {
    width: 17%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}



/*========================按钮容器=======================*/

#article_button_group {
    width: 11%;
    height:  auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}



/*========================外部容器=======================*/

#article_option-bar {
    width: 96%;
    height:  6%;
    /*background: gray;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    /*text-align: center;*/
    /*float: left;*/
}

/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/